@font-face {
  font-family: "Hibo-font";
  src: url("~@/assets/fonts/Basic-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Noto-font";
  src: url("~@/assets/fonts/NotoSans-Regular.ttf") format("truetype");
}
