$gray: #707070;
$darkGray: #666;
$lightGray: #999;
$textBlack: #393939;
$textDimGray: #333;
$silver: #889aaf;
$gold: #d19d48;
$white: #fff;
$blackFooter: rgba(0, 0, 0, 0.8);
$whiteOpacity: rgba(255, 255, 255, 0.96);
$whiteDisibleOpacity: rgba(255, 255, 255, 0.7);
$redOpacity: rgba(195, 32, 50, 0.9);
$whiteInputOpacity: rgba(255, 255, 255, 0);
$whiteSmoke: #f5f5f5;
$red: #c32032;
$backgroundRed: #f3d2d6;
$black: #000;
$boxShadowColor: #0000001a;
$border: #eaeaea;
$borderDash: #dadada;
$boderTitle: #f2f2f2;
$descriptionText: #1365b7;
$borderSearch: #ccc;
$heightHeader: 4.7rem;
$heightTabMap: 11.4rem;
$heightTabCategory: 4.8rem;
$textSwitch: #a9a9a9;
$bgSwitch: #00000014;
$bgActiveSwitch: rgba(255, 255, 255, 0.4);
$textSteps: #282828;
$bgGold: #F2ECDF;
$textRankSilver: #6D8097;
$textRankGold: #C08938;
$textDes: #959595;
$shadowPopover: #00000080;
$shadowTooltip: #b5b5b5;
$blue: #0065b7;
$backgroundFocusMenu: rgba(211, 205, 205, 0.5);
$heighHeaderBar: 80px;
$widthNavBar: 256px
